@{
    ViewData["Title"] = "About";
}
<h2>Grupo</h2>

<p>
    <div>Blog MasterChef de avaliação final de Desenvolvimento Web do professor Rodolfo Fadino Junior.</div><br />
    <ul>
        <li>38930 - Danilo de Oliveira</li>
        <li>45806 - Felipe Colacioppo de Moura Paiva</li>
        <li>44184 - Marcelo Donisete Baptista</li>
        <li>31768 - Marcelo Silva</li>
        <li>31948 - Willian Hilton Moraes de Jesus</li>
    </ul>
</p>
